beautifulsoup4==4.8.0
eppy==0.5.57
ipykernel==6.9.2
matplotlib==3.5.1
numpy==1.21.5
openstudio==3.3.0
pandas==1.3.5
pyarrow==6.0.1
requests==2.27.1
scikit-learn==1.0.2
seaborn==0.11.2
simplejson==3.17.6
